includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - tests
    ignoreErrors:
        - '#Function get_plugin_data not found#'
        - '#Function get_field not found#'
